doctype html
html
  // (manifest="/appcache.appcache")
  head
    title Really
    link(rel='stylesheet', href='/vendor.css')
    link(rel='stylesheet', href='/app.css')
  body
    block content
    script(type="text/javascript", src='/vendor.js')
    script(type="text/javascript", src='/app.js')
