doctype html
html
  // (manifest="/appcache.appcache")
  head
    title Really
    meta(name="faye-url", content="http://localhost:9292/faye")
    link(rel="stylesheet", href="/vendor.css")
    link(rel="stylesheet", href="/app.css")
  body
    block content
    script(type="text/javascript", src="http://localhost:9292/faye.js")
    script(type="text/javascript", src="/vendor.js")
    script(type="text/javascript", src="/app.js")
